genome: "resources/genome.fasta" # the path and file to the reference assembly
bam_dir: "results/bam" 
ro_bam_dir: ""
fastq_trimmed_dir: "results/fastq_trimmed"
ro_fastq_trimmed_dir: ""
vcf_dir: "results/vcf"
ro_ind_vcf_dir: ""
chromosome_file: "resources/chromosomes.txt"
individual_file: "resources/individuals.txt"
min_depth: 4
log_dir: "logs"
repeat_bed: "resources/repeat.bed"
consensus_fasta_dir: "results/consensus"
ploidy: 2
outgroup_individuals: []